DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=cooprinsem_transportistas

JWT_SECRET=
JWT_EXPIRES=8h

PORT=3002
FRONT_ORIGINS=http://localhost:5175
NODE_ENV=development

# En hosting (Passenger monta la app bajo /api):
# API_PREFIX=
# FRONT_ORIGINS=https://cooprinsem.patagonianet.cl
# NODE_ENV=production
